.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  gap: 40px; /* Espace entre le contenu et l'image */
  margin-bottom: 50px; /* Sépare la section Hero de la section About */
  background-color: #ffffff; /* Fond blanc par défaut en mode clair */
  color: #333333; /* Texte sombre par défaut en mode clair */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Mode sombre pour la section hero */
.app-container.dark .hero {
  background-color: #1a1a1a; /* Fond sombre en mode dark */
  color: #ffffff;
}

.hero-content {
  flex: 1; /* Prend l'espace disponible à gauche */
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content h1 span {
  color: #d45d8d;
}

.hero-content h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 20px;
}

/* Adaptation du sous-titre en mode sombre si besoin */
.app-container.dark .hero-content h2 {
  color: #bbb;
}

.hero-content p {
  color: #666; /* Couleur du paragraphe en mode clair */
  margin-bottom: 20px;
}

.app-container.dark .hero-content p {
  color: #ccc; /* Couleur du paragraphe en mode sombre */
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  padding: 12px 25px;
  background-color: #d45d8d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  padding: 12px 25px;
  background-color: transparent;
  border: 2px solid #d45d8d;
  color: #d45d8d;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles pour l'image */
.hero-image {
  flex: 1; /* Prend l'espace disponible à droite */
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  max-width: 400px; /* Limite la taille pour ne pas envahir l'écran */
  height: 500px; /* Donne une hauteur fixe cohérente */
  object-fit: cover; /* Recadre l'image pour qu'elle remplisse bien le cadre */
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}